let getName: string = (firstName, lastName) => 
{
  firstName ++ " " ++ lastName
};

getName("Jane","Doe");
getName("Jane")("Doe");

let getName = (~firstName, ~lastName) => 
{
    firstName ++ " " ++ lastName   
}

getName(~firstName="Jane", ~lastName="Doe"); 
getName(~lastName="Doe", ~firstName="Jane"); 
