type seat = {
    row: int,
    letter: string,
};

let seatString = (seat: option(seat)) =>
    switch (seat) {
        | Some(seat) => 
            string_of_int(seat.row) ++ seat.letter
        | None => ""
}

let seatString = (seat: option(seat)) => 
    seat->Belt.Option.getWithDefault("")
